/* 
    Document   : ktabs
    Created on : 2009-apr-09, 20:02:37
    Author     : krillzip
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



.selfClear {
  display: inline-block;
}

* html .selfClear {
  height: 1%;
}

.selfClear {
 // display: block;
}



.kTabContainer ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.kTabContainer div.kTabPane
{
    border-top: 1px solid gray;
    display: none;
}
li.kTabFlap
{
    display: inline;
    float: left;
}
li.kTabFlap a
{
    display: block;
    padding: 5px 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 2px;
}
li.kTabFlap a.active
{
    background: orange;
}
